h1, h2, h3 {
    text-align: center;
}
h3 {
    font-size: 16px;
}
ul i {
    color: red;
}
p i {
    color: green;
}
p b i {
    color: red;
}
li > b {
    color: red;
}
.odd {
    color: red;
}
.eve {
    color: green;
}
.eee {
    color: red;
}
.xxx {
    font-size: 30px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: cyan;
}
.first {
    color: red;
}
.second {
    color: green;
}